@import url("https://fonts.googleapis.com/css2? family= Roboto & family= Roboto+Serif:opsz@8..144 & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.estiloImag, .franquicias img {
  width: 600px;
  height: 600px;
} /*Index */
.heros {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 150px);
  background: linear-gradient(rgba(0, 0, 0, 0.485), rgba(0, 0, 0, 0.542)), url(../imagenes/banner.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.heros h1 {
  font-size: 60px;
  font-weight: bold;
}
.heros p {
  font-size: 30px;
  text-align: center;
}
.heros a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: #cf2e2e;
  font-size: 20px;
  padding: 8px;
  border-radius: 10px;
}
.heros a:hover {
  background-color: #e0d8d8;
  color: rgba(0, 0, 0, 0.425);
  border-radius: 10px;
  padding: 8px;
}

.section_main {
  background-image: url(../imagenes/espacio-diseno-pared-ladrillo-negro.jpg);
  background-attachment: fixed;
}

.section_one {
  backdrop-filter: blur(5px);
  padding: 50px;
}
.section_one div h5 {
  font-family: sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  color: #cf2e2e;
  text-shadow: -1px 2px #fff;
  border-radius: 10px;
}
.section_one div p {
  padding: 15px;
  font-size: 20px;
  font-family: sans-serif;
  background-color: #cf2e2e;
  border-radius: 15px 40px;
  border: solid 3px #fff;
}

.section_two {
  backdrop-filter: blur(5px);
}
.section_two div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section_two div img {
  width: 500px;
  height: 600px;
  margin: 20px;
  border-radius: 40px;
}
.section_two h3 {
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  letter-spacing: 20px;
  color: #cf2e2e;
  text-shadow: -1px 2px #fff;
}
.section_two p {
  margin: 30px;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  background-color: #cf2e2e;
  border-radius: 15px 40px;
  border: solid 2px #fff;
}

/*Contacto*/
.contacto {
  text-align: center;
  padding: 30px;
  background-image: url(../imagenes/6-400x516.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.contacto h2 {
  color: #fff;
  text-shadow: 2px 2px black;
  font-size: 3rem;
  letter-spacing: 5px;
  border: solid 2px #fff;
  border-radius: 15px;
}
.contacto .informacion h3 {
  color: #fff;
  text-shadow: 2px 2px black;
  font-size: 3rem;
  letter-spacing: 5px;
  border: solid 2px #fff;
  border-radius: 15px;
}
.contacto .informacion p {
  color: #fff;
  text-shadow: 1px 1px rgb(0, 0, 0);
  font-size: 20px;
}

/*Nosotros*/
.nosotros {
  font-size: 35px;
  text-align: center;
}
.nosotros div {
  font-size: 30px;
  text-transform: uppercase;
}
.nosotros img {
  padding: 10px;
  margin: 20px;
  width: 500px;
  height: 600px;
  border-radius: 20px;
}

/*Franquicias*/
.franquicias {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
.franquicias h1 {
  font-size: 60px;
  text-align: center;
}
.franquicias h1 h2 {
  font-size: 40px;
  text-align: center;
}
.franquicias img {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

/*Productos*/
.productos {
  font-size: 40px;
  text-align: center;
}
.productos img {
  width: 200px;
  height: 200px;
  border-radius: 60px;
}

.productos_two {
  font-size: 40px;
  text-align: center;
}
.productos_two img {
  border-radius: 10px;
  transition: all 400ms ease;
}
.productos_two img:hover {
  transform: scale(1.1);
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #666;
}
.footer ul li a {
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
}
.footer div a img {
  width: 50px;
  height: 50px;
  border-radius: 40px;
  margin: 0px;
  padding: 5px;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  /*Nosotros*/
  .nosotros img {
    padding: 80px;
    margin: -50px;
    border-radius: 35px;
  }
  /*Franquicias*/
  .franquicias img {
    padding: 80px;
    margin: -50px;
    border-radius: 35px;
  }
  .contacto iframe {
    border-radius: 15px;
    height: 350px;
    width: 350px;
  }
}
.estiloImag, .franquicias img {
  width: 600px;
  height: 600px;
}

/*# sourceMappingURL=style.css.map */
