@import "../base/mixin";
@import "../base/extends";

/*Index */
/*barra de navegacion*/
.navbar-main .active{
    text-decoration:underline wavy (#cf2e2e 2px);
}

.navbar-brand {
    font-family:'Rubik Moonrocks', cursive;
}


.heros {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 150px);
    background: linear-gradient(rgba(0, 0, 0, 0.485), rgba(0, 0, 0, 0.542)), url(../imagenes/banner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    h1{
        font-size: 50px;
        font-weight: bold;
        font-family: 'Rubik Moonrocks', cursive;
    }
    p{
        @include estilosPosition (30px,center)
    }
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        background-color: #cf2e2e;
        font-size: 20px;
        font-family: 'Rubik Moonrocks', cursive;
        padding: 8px;
        border-radius: 10px;
        &:hover{
            background-color:#e0d8d8;
            color: rgba(0, 0, 0, 0.425);
            border-radius: 10px;
            padding: 8px;
        }
    }
}

.section_main{
    background-image: url(../imagenes/espacio-diseno-pared-ladrillo-negro.jpg);
    background-attachment: fixed;
}

.section_one{
    backdrop-filter: blur(5px);
    padding: 50px;
    div{
        h5{
            font-family: 'Roboto Serif', serif;
            font-size: 35px;
            text-transform: uppercase;
            color: #cf2e2e;
            text-shadow: -1px 2px #fff;
            border-radius: 10px ;
        }
        p{
            padding: 15px;
            font-size: 20px;
            font-family: sans-serif;
            background-color:#cf2e2e;
            border-radius: 15px 40px;
            border: solid 3px #fff;
        }
    }
}

.section_two {
    backdrop-filter: blur(5px);
    div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        img{
            width: 500px;
            height: 600px;
            margin: 20px;
            border-radius: 40px;
            border: solid #fff;
        }
    }
    h3 {
        text-align: center;
        font-family: 'Roboto Serif', serif;
        font-size: 40px;
        letter-spacing: 20px;
        color: #cf2e2e;
        text-shadow: -1px 2px #fff;
    }
    p {
        margin: 30px;
        text-align: center;
        justify-content: center;
        font-size: 30px;
        background-color: #cf2e2e;
        border-radius: 15px 40px;
        border: solid 2px #fff;
    }
    
}

/*Contacto*/
.contacto{
    iframe{
        width: 600px;
        height: 500px;
    }
    h2{
        color: #cf2e2e;
        text-shadow: -1px 2px #fff;
        font-size: 3rem;
        letter-spacing: 5px;
    }
    text-align: center;
    padding: 30px;
    background-image: url(../imagenes/6-400x516.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    .informacion{
        h3{
            color: #cf2e2e;
            text-shadow: -1px 2px rgb(0, 0, 0);
            font-size: 3rem;
            letter-spacing: 5px;
            background-color: #fff;
            border-radius: 15px 40px;
        }
        p{
            padding: 25px;
            font-size: 25px;
            color: #fff;
            background-color: #cf2e2e;
            border-radius: 15px 40px;
            a{
                text-decoration: none;
                list-style: none;
                color: #fff;
            }
        }
    }
}

/*Nosotros*/
.nosotros{
    text-align: center;
    h1{
        margin: 15px;
        padding: 10px;
        font-size: 3rem;
        text-align: center;
        color: #fff;
        text-shadow: -1px 2px rgb(0, 0, 0);
        background-color: #cf2e2e;
        border-radius: 15px 40px;
    }
    img{
        padding: 10px;
        margin: 20px;
        width: 500px;
        height: 600px;
        border-radius: 20px;
    }
    div{
        h2{
            padding: 10px;
            margin: 15px;
            font-size: 3rem;
            background-color: #cf2e2e;
            color: #fff;
            text-shadow: -1px 2px rgb(0, 0, 0);
            border-radius: 15px 40px;
        }
        p{
            font-size: 30px;
            color:black;
            background-color: blanchedalmond
        }
    }
}
.nosotros-body{
    background: #eb5757; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eb5757, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eb5757, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*Franquicias*/

.franquicias{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    h1{
        margin: 15px;
        padding: 10px;
        font-size: 3rem;
        text-align: center;
        color: #fff;
        text-shadow: -1px 2px rgb(0, 0, 0);
        background-color: #cf2e2e;
        border-radius: 15px 40px;
    }
    h2{
        font-size: 40px;
        text-align: center;
        background-color: blanchedalmond;
        a{
            text-decoration: none;
            color: rgb(0, 0, 0);
            background-color: #cf2e2e;
            font-size: 40px;
            padding: 2px;
            border-radius: 8px;
            &:hover{
                background-color:#fff;
                color: rgba(0, 0, 0, 0.425);
                border-radius: 8px;
                padding: 2px;
            }
        }
    }
    p{
        font-size: 30px;
        color:black;
        background-color: blanchedalmond
    }
    img{
        @extend .estiloImag;
        padding: 10px;
        margin: 10px;
        border-radius: 15px;
    }
}
.franquicias-body{
    background: #eb5757; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eb5757, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eb5757, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*Productos*/

.productos {
    div{
        text-align: center;
        h1{
            margin: 15px;
            padding: 10px;
            font-size: 3rem;
            color: #fff;
            text-shadow: -1px 2px black;
            background-color: #cf2e2e;
            border-radius: 15px 40px;
        }
        img{
            padding: 5px;
            border-radius: 50px;
            border: solid 1px #fff;
        }
    }
}
.productos_two{
    div{
        text-align: center;
        h1{
            margin: 15px;
            padding: 10px;
            color: #fff;
            font-size: 3rem;
            text-shadow: -1px 2px black;
            background-color:#cf2e2e;
            border-radius: 15px 40px;
        }
        img{
            border-radius: 10px;
            transition: all 400ms ease;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
.productos-body{
    background: #eb5757; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eb5757, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eb5757, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
