@import "../base/mixin";
@import "../base/extends";

/*Index */
.heros {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 150px);
    background: linear-gradient(rgba(0, 0, 0, 0.485), rgba(0, 0, 0, 0.542)), url(../imagenes/banner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    h1{
        font-size: 60px;
        font-weight: bold;
    }
    p{
        @include estilosPosition (30px,center)
    }
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        background-color: rgb(110, 107, 107);
        font-size: 20px;
        padding: 8px;
        border-radius: 10px;
        &:hover{
            background-color:#e0d8d8;
            color: rgba(0, 0, 0, 0.425);
            border-radius: 10px;
            padding: 8px;
        }
    }
}

.section_two {
    div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        img{
            width: 500px;
            height: 600px;
            margin: 20px;
            border-radius: 40px;
            box-shadow: -9px 15px 52px 19px rgba(192, 146, 146, 0.37);
        }
    }
    h3 {
        @include estilosPosition (30px,center)
    }
    p {
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
    
}

/*Contacto*/
.contacto{
    text-align: center;
    padding: 10px;
    background-image: url(/imagenes/6-400x516.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/*Nosotros*/
.nosotros{
    font-size: 35px;
    text-align: center;
    div{
        font-size: 30px;
        text-transform: uppercase;
    }
    img{
        padding: 10px;
        margin: 20px;
        width: 500px;
        height: 600px;
        border-radius: 20px;
    }
}

/*Franquicias*/
.franquicias{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    h1{
        font-size: 60px;
        text-align: center;
        h2{
            font-size: 40px;
            text-align: center;
        }
    }
    img{
        @extend .estiloImag;
        padding: 10px;
        margin: 10px;
        border-radius: 20px;
    }
}

/*Productos*/
.productos{
    font-size: 40px;
    text-align: center;
    img{
        width: 200px;
        height: 200px;
        border-radius: 60px;
    }
}
.productos_two{
    font-size: 40px;
    text-align: center;
    img{
        border-radius: 10px;
        transition: all 400ms ease;
        &:hover {
            transform: scale(1.1);
        }
    }
}