@import "../base/mixin";
@import "../base/extends";

/*Index */
.heros {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 150px);
    background: linear-gradient(rgba(0, 0, 0, 0.485), rgba(0, 0, 0, 0.542)), url(../imagenes/banner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    h1{
        font-size: 60px;
        font-weight: bold;
    }
    p{
        @include estilosPosition (30px,center)
    }
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        background-color: #cf2e2e;
        font-size: 20px;
        padding: 8px;
        border-radius: 10px;
        &:hover{
            background-color:#e0d8d8;
            color: rgba(0, 0, 0, 0.425);
            border-radius: 10px;
            padding: 8px;
        }
    }
}

.section_main{
    background-image: url(../imagenes/espacio-diseno-pared-ladrillo-negro.jpg);
    background-attachment: fixed;
}

.section_one{
    backdrop-filter: blur(5px);
    padding: 50px;
    div{
        h5{
            font-family: sans-serif;
            font-size: 35px;
            text-transform: uppercase;
            color: #cf2e2e;
            text-shadow: -1px 2px #fff;
            border-radius: 10px ;
        }
        p{
            padding: 15px;
            font-size: 20px;
            font-family: sans-serif;
            background-color:#cf2e2e;
            border-radius: 15px 40px;
            border: solid 3px #fff;
        }
    }
}

.section_two {
    backdrop-filter: blur(5px);
    div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        img{
            width: 500px;
            height: 600px;
            margin: 20px;
            border-radius: 40px;
        }
    }
    h3 {
        text-align: center;
        font-family: sans-serif;
        font-size: 40px;
        letter-spacing: 20px;
        color: #cf2e2e;
        text-shadow: -1px 2px #fff;
    }
    p {
        margin: 30px;
        text-align: center;
        justify-content: center;
        font-size: 30px;
        background-color: #cf2e2e;
        border-radius: 15px 40px;
        border: solid 2px #fff;
    }
    
}

/*Contacto*/
.contacto{
    h2{
        color: #fff;
        text-shadow: 2px 2px black;
        font-size: 3rem;
        letter-spacing: 5px;
        border: solid 2px #fff;
        border-radius: 15px;
    }
    text-align: center;
    padding: 30px;
    background-image: url(../imagenes/6-400x516.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    .informacion{
        h3{
            color: #fff;
            text-shadow: 2px 2px black;
            font-size: 3rem;
            letter-spacing: 5px;
            border: solid 2px #fff;
            border-radius: 15px;
        }
        p{
            color: #fff;
            text-shadow: 1px 1px rgb(0, 0, 0);
            font-size: 20px;
        }
    }
}


/*Nosotros*/
.nosotros{
    font-size: 35px;
    text-align: center;
    div{
        font-size: 30px;
        text-transform: uppercase;
    }
    img{
        padding: 10px;
        margin: 20px;
        width: 500px;
        height: 600px;
        border-radius: 20px;
    }
}

/*Franquicias*/
.franquicias{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    h1{
        font-size: 60px;
        text-align: center;
        h2{
            font-size: 40px;
            text-align: center;
        }
    }
    img{
        @extend .estiloImag;
        padding: 10px;
        margin: 10px;
        border-radius: 20px;
    }
}

/*Productos*/
.productos{
    font-size: 40px;
    text-align: center;
    img{
        width: 200px;
        height: 200px;
        border-radius: 60px;
    }
}
.productos_two{
    font-size: 40px;
    text-align: center;
    img{
        border-radius: 10px;
        transition: all 400ms ease;
        &:hover {
            transform: scale(1.1);
        }
    }
}
