
@media only screen and (max-width: 767px) and (min-width: 320px) {
    /*Nosotros*/
    .nosotros{
        width: 100%;
        text-align: center;
        img{
            max-width: 90%;
            width: 600;
        }
    }
    /*Productos*/
    .productos_two{
        div{
            img{
                transition:none;
                &:hover{
                    transform:none;
                }
            }
        }
    }
    
    /*Franquicias*/
    .franquicias {
        div{
            width: 100%;
            text-align: center;
            img{
                max-width: 92%;
                width: 600px;
            }
        }
    }
    /*Contacto*/
    .contacto{
        iframe{
            height: 300px;
            width: 300px;
        }
    }
}