
@media only screen and (max-width: 767px) and (min-width: 320px) {
    /*Nosotros*/
    .nosotros{
        img{
            padding: 80px;
            margin: -50px;
            border-radius: 35px;
        }
    }
    
    /*Franquicias*/
    .franquicias {
        img{
            padding: 80px;
            margin: -50px;
            border-radius: 35px;
        }
    }
    .contacto
    iframe{
        border-radius: 15px;
        height: 350px;
        width: 350px;
    }
}